:root.theme-dark {
  --cover-image-place: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --text-color-light: #F1B2CE;
  --text-color-dark: #000028;
  --background-color-dark: #000028;
  --accent-color: #ff0070;
  --content-section-title-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
}