:root.theme-light {
  --cover-image-place: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color-dark: #353430;
  --text-color-light: #353430;
  --background-color-dark: #fff1f7;
  --content-section-title-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image-place: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color-dark: #353430;
    --text-color-light: #353430;
    --background-color-dark: #fff1f7;
    --content-section-title-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
  }

  .theme-auto .header__light-bulb,
  .theme-auto .header__light-bulb::after {
    display: none;
  }
}

.theme-light .header__light-bulb,
.theme-light .header__light-bulb::after {
  display: none;
}