.page {
  display: block;
  background-image: var(--cover-image-place);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color-dark);
  background-attachment: fixed;
}

.header {
  block-size: min(100vh, 41.75rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr min-content;
  padding-inline: 0.625rem;
  padding-block-end: 4.125rem;
  position: relative;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: space-between;
  gap: 17px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 100%;
  text-transform: lowercase;
  color: var(--content-section-title-color);
  padding: 0 0.81rem;
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--text-color-dark);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 130%;
}

.title-decor__two-titles{
  color: var(--text-color-dark);
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 130%;
}

.main {
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 3.125rem;
}

.content-section {
  padding: 0 0.625rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.25rem;
}

.content-section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 130%;
  color: var(--content-section-title-color);
}

.content-section__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.625rem;
}

.content-section__card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 130%;
  color: var(--text-color-light);
}

.content-section__card-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-section__two-titles {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content-section.galery {
  display: grid;
  gap: 0.625rem;
}

.galery__image{
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

.footer {
  position: relative;
  block-size: min(100vh, 41.75rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    block-size: min(100vh, 1024px);
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-inline-end: 1.25rem;
    padding-block-end: 11.44rem;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 2;
    padding-block-start: 7rem;
  }

  .header__title {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    align-self: center;
    padding-block-end: 3.4rem;
  }

  .header__text {
    grid-row: 3;
    grid-column: 2;
    padding-right: 1rem;
  }

  .main {
    padding: 3.75rem 0;
    display: grid;
    gap: 5rem;
  }

  .content-section {
    padding: 0 1.25rem;
    display: grid;
    grid-template-columns: minmax(auto, 14.75rem) 1fr;
    grid-template-rows: auto;
    gap: 1.25rem;
  }

  .visual-concentration .content-section__card {
    grid-column: 1 / -1;
  }

  .content-section__title {
    grid-column: 1;
  }

  .content-section__card {
    grid-column: 2;
  }

  .content-section.galery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, 1fr);
    gap: 1.25rem;
    min-block-size: 51.44rem;
    aspect-ratio: 768 / 823;
  }

  .galery .content-section__card-title {
    grid-column: 1 / -1;
  }

  .galery .sunset {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .galery .ice-cream {
    grid-column: 3 / -1;
    grid-row: 2 / 4;
  }

  .galery .tape {
    grid-row: 3 / -1;
    grid-column: 1 / 2;
  }

  .galery .books {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .galery .street {
    grid-column: 2 / -1;
  }
  
  .footer {
    block-size: min(100vh, 1024px);
    padding: 0;
  }

  .footer__title {
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .header {
    block-size: min(100vh, 768px);
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-inline-end: 1.25rem;
    padding-block-end: 8.375rem;
  }
    
  .header__theme-menu {
    grid-column: 1  / -1;
    justify-self: center;
    padding: 0;
    margin: 0;
    padding-block-start: 1.25rem;
    padding-inline-start: 1rem;
    align-self: self-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-end: 4.4rem;
  }

  .content-section {
    grid-template-columns: minmax(auto, 19.69rem) 1fr;
  }

  .visual-concentration {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content;
  }

  .visual-concentration .multitasking {
    grid-column: 1 / 2;
    align-content: start;
  }

  .visual-concentration .food {
    grid-column: 2 / 3;
    align-content: start;
  }

  .visual-concentration .gadgets {
    grid-column: 3 / -1;
    align-content: start;
  }

  .content-section.galery {
    min-block-size: 68.19rem;
    aspect-ratio: 1024 / 1091;
  }

  .footer {
    block-size: min(100vh, 768px);
    padding: 0;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/*стиль для нажатой кнопки*/

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--content-section-title-color);
}

/*декоративные элементы*/

.header__light-bulb {
  display: flex;
  position: absolute;
  top: 10px;
  right: 19px;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 139%;
  text-align: center;
  color: var(--accent-color);
}

.header__light-bulb::after {
  display: block;
  align-self: center;
  content: "";
  border-radius: 50%;
  height: 9px;
  inline-size: 9px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 10px;
}

.header__theme-menu::before {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  height: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header__title::before {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: "";
  height: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.footer__title::before {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  height: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer__title::after {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: "";
  height: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

/*эфекты*/

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--content-section-title-color);
}

.content-section__card-link:hover {
  border-bottom: 1px solid var(--text-color-light);
}

.content-section__card-link:focus-visible {
  outline: 1px solid var(--text-color-light);
}

/*декоративные элементы при разных разрешениях*/

@media (min-width: 768px) {
  .header__light-bulb {
    top: 19px;
    right: 29px;
  }

  .header__theme-menu::before {
    top: 19px;
    right: 20px;
  }

  .header__title::before {
    display: block;
    position: absolute;
    bottom: 19px;
    left: 20px;
  }

  .footer__title::before {
    top: 19px;
    right: 20px;
  }

  .footer__title::after {
    bottom: 19px;
    left: 20px;
  }
}